#promotion{
    text-align: center;
    padding: 5%;
    padding-bottom: 50%;
}
#cta_description{
    margin-bottom: 5%;
    font-size: large;
}
input[type="submit"]{
    width: 50%;
    display: block;
    text-align: center;
    margin-left: 35%;
    margin-top: 2%;
}
.cta_row{
    margin: 5%, 5%, 5%, 5%;
}
label{
    font-size: large;
    font-style: inherit;
    color: gray;
}
#cta_description > .success{
    font-size: large;
    font-style: inherit;
    color: gray;
}